/* home */
img{
    width: 100%;
    height: 400px;
}
.home-title{
    margin-top: 30px;
    font-weight: 900;
    font-size: xx-large;
    color: rgb(160, 111, 48);
}

/* home slider */

.slider-image {
  height: 400px;
  object-fit: cover; 
}


@media (max-width: 768px) {
  .slider-image {
      height: 300px; 
  }
}

@media (max-width: 576px) {
  .slider-image {
      height: 250px; 
  }
}

/* banner2 */

.banner-tittle{
    margin-top: 100px;
    font-size: 40px;
    opacity: 0.2;
    color: rgb(160, 111, 48);
}

/* content1 */
.content-head{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-top: 60px;

}
.content-para{
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
}



/* gallery */
  /* .pic1{
    height: 250px;
    width: 400px;
  } */
  /* .pic2{
    height: 200px;
    width: 300px;
  } */
  /* #pic3{
    height: 520px;
    width: 300px;
  }
  .pic4{
    height: 250px;
    width: 330px;
  }
  .pic5{
    height: 250px;
    width: 340px;
  }
  #pic6{
    height: 520px;
    width: 300px;
  } */

  .gallery-title{
    margin-top: 30px;
    font-weight: 900;
    font-size: xx-large;
    color: rgb(160, 111, 48);
}


/* bestselling */
.contentfull{
  background-color: #f4f5f7; /* Light gray background */
}
.bestselling-btn{
  background-color:rgb(160, 111, 48) !important ;
  border: none !important;
  font-weight: 600 !important;
}
.bestselling-btn:hover{

  background-color:rgb(139, 95, 36) !important ;

}

/* bestselling-img card  */

.bestselling-img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.bestselling-img{

  transition: transform 0.3s ease;
}


/* login page */

.submit-btn{
  background-color: rgb(160, 111, 48) !important;
  color:white !important;
}

.form-title{
  color: rgb(160, 111, 48) !important;
}


/* blog-componenet */

.blog-title{
  margin-top: 30px;
    font-weight: 900;
    font-size: xx-large;
    color: rgb(160, 111, 48);
}